@media screen and (min-width:641px) {
    .header_link {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .header_link.active {
        color: #ea7411 !important;
    }

    .header_link:hover {
        color: #ea7411 !important;
    }

}

.Navbar_border {
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
}

@media only screen and (max-width: 640px) {
    .header_link:hover {
        color: #ea7411 !important;
    }

    .header_link.active {
        color: #ea7411 !important;
    }



}