@media screen and (min-width:641px) {
  .Navbar {
    display: none;
  }

}


@media only screen and (max-width: 640px) {

  .Navbar {
    width: 100%;
    height: 56px;

    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-backdrop-filter: saturate(180%) blur(16px);
    backdrop-filter: saturate(180%) blur(16px);
    background: var(--Navbar-background);
    border-top: 1px solid rgba(204, 204, 204, 0.15);
  }

  .Navbar.hidden {
    display: none;
  }

  .Navicon {
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .NavLink-center {
    display: none;
  }

  /* 未选中 */
  .nav_link {
    height: 56px;
    width: 25vw;
    font-size: 1.7rem;
    color: var(--nav_link-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_link:hover {
    height: 56px;
    width: 25vw;
    font-size: 1.7rem;
    color: var(--nav_link-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 选中 */
  .nav_link.active {
    height: 56px;
    width: 25vw;
    font-size: 1.7rem;
    color: #ea7411 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }




}